<div
  class="container d-flex align-items-center justify-content-center text-center"
  style="height: 80vh; width: 100vw"
>
  <div
    class="spinner-border text-info"
    role="status"
    style="width: 3rem; height: 3rem"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
