<div class="card bg-dark bg-gradient text-white p-2" style="width: 20rem">
    <h4 class="text-center">
      <span>{{job?.companyUser?.userCompany?.companyName}}  </span>
      <img id="hat" [src]="job?.companyUser?.userCompany?.companyImage" class="float-right" alt="Company logo" width="60"
      height="60">
    </h4>

  <div class="card-body">
    <h5 class="card-title text-muted">Job Role</h5>
    <h6 class="card-subtitle mb-2">{{ job.jobRole }}</h6>
    <h5 class="card-title text-muted">Job Description</h5>
    <h6 class="card-subtitle mb-2">{{ job.jobDescription }}</h6>
    <h5 class="card-title text-muted">Job Type</h5>
    <h6 class="card-subtitle mb-2">{{ job.jobType }}</h6>
    <h5 class="card-title text-muted">Job Domain</h5>
    <h6 class="card-subtitle mb-2">{{ job.jobDomain }}</h6>
    <h5 class="card-title text-muted">Job Open For</h5>
    <h6 class="card-subtitle mb-2">{{ job.jobOpenFor }}</h6>
    <h5 class="card-title text-muted">Job Location</h5>
    <h6 class="card-subtitle mb-2">
      <li *ngFor="let u of job.jobLocation" style="text-decoration: none">
        <span class="align-middle applicant">{{ u.locationCity+", "+u.locationState+", "+u.locationCountry}}</span>
      </li>
    </h6>
    <!--<h6 class="card-subtitle mb-2" >{{job.jobLocation.locationCity}}</h6>-->
    <h5 class="card-title text-muted">Job Qualifications</h5>
    <h6 class="card-subtitle mb-2">
      <li *ngFor="let u of job.qualification" style="text-decoration: none">
        <span class="align-middle applicant">{{ u.qualificationName+", "+u.qualificationSpecialization }}</span>
      </li>
    </h6>
    <h5 class="card-title text-muted">Job Skills</h5>
    <h6 class="card-subtitle mb-2">
      <li *ngFor="let u of job.skillSet" style="text-decoration: none">
        <span class="align-middle applicant">{{ u.skillSetName }}</span>
      </li>
    </h6>
    <p style="text-align: center; margin-top: 1rem">{{ Status }}</p>
  </div>
</div>