<div class="container">
  <app-college-detail-form
    [buttonName]="buttonNameRegister"
    [college]="college"
    (formSubmit)="onUpdate($event)"
  ></app-college-detail-form>
</div>
<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>