<div class="container" *ngIf="college; else loading">
  <h3 class="text-center">Enter College Details</h3>
  <div class="row mt-3">
    <label for="collegeName"> College Name </label>
    <input
      type="text"
      class="form-control"
      id="collegeName "
      collegeName="collegeName"
      #collegeName="ngModel"
      [(ngModel)]="college.collegeName"
    />
    <small
      *ngIf="collegeName?.invalid && collegeName?.touched"
      class="text-danger"
      >Name is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> College Website </label
    ><input
      type="url"
      class="form-control"
      id="collegeWebsite"
      collegeWebsite="collegeWebsite"
      #collegeWebsite="ngModel"
      [(ngModel)]="college.collegeWebsite"
    />
    <small
      *ngIf="collegeWebsite?.invalid && collegeWebsite?.touched"
      class="text-danger"
      >Website is Required</small
    >
  </div>

  <div class="row mt-3">
    <label class="labels">College Email ID</label
    ><input
      type="email"
      class="form-control"
      id="collegeEmail"
      collegeWebsite="collegeEmail"
      #collegeEmail="ngModel"
      [(ngModel)]="college.collegeEmail"
    />
    <small
      *ngIf="collegeEmail?.invalid && collegeEmail?.touched"
      class="text-danger"
      >Email is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> NIRF Ranking </label
    ><input
      type="number"
      class="form-control"
      id="collegeNirfRanking"
      collegeNirfRanking="collegeNirfRanking"
      #collegeNirfRanking="ngModel"
      [(ngModel)]="college.collegeNirfRanking"
    />
    <small
      *ngIf="collegeNirfRanking?.invalid && collegeNirfRanking?.touched"
      class="text-danger"
      >NIRF Ranking is Required</small
    >
  </div>

  <div>
    <br /><label> AICTE Approved: </label><br /><input
      type="radio"
      value="true"
      id="collegeAicteAffiliation"
      collegeAicteAffiliation="collegeAicteAffiliation"
      #collegeAicteAffiliation="ngModel"
      [(ngModel)]="college.collegeAicteAffiliation"
    />Yes
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
    <br />
    <input
      type="radio"
      value="false"
      id="collegeAicteAffiliation"
      collegeAicteAffiliation="collegeAicteAffiliation"
      #collegeAicteAffiliation="ngModel"
      [(ngModel)]="college.collegeAicteAffiliation"
    />
    No
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <br /><label class="labels">College Address</label>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">State:</label>

        <select>
          <option>Select Address...</option>

          <option
            *ngFor="let location of locations"
            [value]="location.locationId"
          >
            {{
              location.locationCity +
                ", " +
                location.locationDistrict +
                ", " +
                location.locationState +
                ", " +
                location.locationCountry +
                "-" +
                location.locationPinCode
            }}
          </option>
        </select>
      </div>
    </div>

    <br />

    <br /><br /><br />
    <div class="container text-center">
      <button
        class="btn btn-primary profile-button"
        type="submit"
        style="width: 150px"
        (click)="collegeFormSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
