<div class="mt-3"></div>

<tabset>
  <tab heading="POSTED JOBS">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let job of jobs; let i = index">
        <div class="mb-2 mt-2">
          <ng-container>
            <div class="">
              <div class="well well-lg" *ngIf="i !== editJob && i != seekers">
                <app-job-detail-view [job]="job"></app-job-detail-view>
              </div>
              <div class="well well-lg" *ngIf="i === editJob">
                <app-job-detail-form [job]="job" (formSubmit)="onEdit($event)"></app-job-detail-form>
              </div>

              <div class="well well-lg" *ngIf="i === seekers">
                <div>
                  <accordion *ngFor="let user of allUsers">
                    <accordion-group>
                      <div accordion-heading>
                        {{ user.userName.firstName + " "
                        }}{{ user.userName.lastName }}

                        <br />

                        {{ user.mobileNumber }}

                        <br />

                        {{ user.email }}
                      </div>

                      <app-user-detail-view [user]="user"></app-user-detail-view>
                    </accordion-group>
                  </accordion>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-outline-secondary mx-1" (click)="onSave(job, i)">
              Save
            </button>
            <button type="submit" class="btn btn-outline-secondary mx-1" (click)="onedit(job, i)">
              Edit
            </button>
            <button type="submit" class="btn btn-outline-secondary mx-1" (click)="onSeekers(job, i)">
              Seekers
            </button>
            <!-- <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="onDelete(job)"
      >
        Delete
      </button> -->
          </ng-container>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="POST JOBS">
    <div>
      <app-job-detail-form [job]="formjob" (formSubmit)="onPost($event)"></app-job-detail-form>
    </div>
  </tab>

  <tab heading="All Jobs by Company">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let job of allJobsFromCompany">
        <div class="mb-2 mt-2">
          <app-job-detail-view [job]="job"></app-job-detail-view>
        </div>
      </div>
    </div>
  </tab>

</tabset>
<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>