<div class="container">
  <div>
    <tabset [(ngModel)]="disableSwitching" ngDefaultControl>
      <tab heading="Basic Info">
        <div>
          <app-company-detail-view
            [company]="company"
          ></app-company-detail-view>
        </div>
      </tab>
      <tab heading="Modify" [disabled]="!disableSwitching">
        <div>
          <app-company-detail-form
            [buttonName]="buttonNameUpdate"
            [company]="formCompany"
            (formSubmit)="onUpdate($event)"
          ></app-company-detail-form>
        </div>
      </tab>
      <tab heading="All Users" [disabled]="!disableSwitching">
        <div>
          <accordion *ngFor="let user of allUsers">
            <accordion-group>
              <div accordion-heading>
                {{ user.email }}
                <label
                  style="float: right"
                  *ngIf="user.userType?.toLocaleString() == 'COMPANY_ADMIN'"
                  >ADMIN
                </label>
                <label
                  [style.color]="user.adminApprovalStatus ? 'green' : 'red'"
                  style="float: right"
                  *ngIf="user.userType?.toLocaleString() == 'COMPANY_SPOC'"
                  >Admin Approval Status: {{ user.adminApprovalStatus }}
                </label>
                <button
                  *ngIf="!user.adminApprovalStatus"
                  type="submit"
                  class="btn btn-primary"
                  (click)="approveStatus(user)"
                >
                  Approve
                </button>
              </div>
              <app-user-detail-view [user]="user"></app-user-detail-view>
            </accordion-group>
          </accordion>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>
