<div class="mt-3"></div>
<tabset>
  <tab heading="Explore Jobs">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let job of jobs; let i = index">
        <div class="mb-2 mt-2 p-2">
          <app-job-detail-view [job]="job"></app-job-detail-view>
          <button type="submit" class="btn btn-outline-secondary mt-2" (click)="onApply(job)">
            Apply
          </button>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="My Applied Jobs">
    <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let job of allAppliedJobsByLoggedInUser; let i = index">
      <div class="mb-2 mt-2">
        <app-job-detail-view [job]="job"></app-job-detail-view>
      </div>
    </div>
    </div>
  </tab>
  <tab heading="Applied Jobs by College">
    <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let job of allJobsOfCollege; let i = index">
      <div class="mb-2 mt-2">
        <app-job-detail-view [job]="job"></app-job-detail-view>
      </div>
    </div>
    </div>
  </tab>
</tabset>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>